<html>
  <head>

  </head>
  <body>
<div class="container">
<div>
<h1> Stupid coaching </h1>
</div>
<div class="card">
<h3><%= @student_answer %> </h3>
<p> - Student </p>
</div>
<div class="card">
<h3><%= @answer %></h3>
<p> - Coach </p>
</div>
</div>
  </body>
</html>
